CLERK_PUBLISHABLE_KEY=<SET_IN_LOCAL_ENV>
SURREALDB_URL=wss://<host>.surreal.cloud/rpc
SURREALDB_NAMESPACE=<SET_IN_LOCAL_ENV>
SURREALDB_DATABASE=<SET_IN_LOCAL_ENV>
CLERK_JWT_TEMPLATE=<SET_IN_LOCAL_ENV>
WORKER_URL=https://......workers.dev