B2_KEY_ID=<SET_IN_LOCAL_WORKER_ENV>
B2_APPLICATION_KEY=<SET_IN_LOCAL_WORKER_ENV>
MAX_UPLOAD_BYTES=<SET_IN_LOCAL_WORKER_ENV>
SURREALDB_SERVICE_USERNAME=<SET_IN_LOCAL_WORKER_ENV>
SURREALDB_SERVICE_PASSWORD=<SET_IN_LOCAL_WORKER_ENV>
